<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" >
    <title>Margaret Hamilton</title>
</head>
<body>

    <a href="/home">HOME</a> <a href="/works">WORKS</a> <a href="/galery">GALERY</a>
    <h1> Margaret Hamilton </h1>
    <br>
    <img class="sage" src="/images/4b41ed92-a7f1-11e9-a93e-018db3f63210.jpg" alt="tfftuhdf">
    <br>
    <a>
        <p> Margaret Heafield Hamilton (born August 17, 1936) is an American computer scientist, </p>
        <p> systems engineer, and business owner. She was director of the Software Engineering Division </p>
        <p> of the MIT Instrumentation Laboratory, which developed on-board flight software for NASA's Apollo program. </p>


        <p>Hamilton has published more than 130 papers, proceedings, and reports, about sixty projects, and six major programs.</p>
        <p>She is one of the people credited with coining the term "software engineering".</p>

        <p>On November 22, 2016, Hamilton received the Presidential Medal of Freedom from president Barack Obama for her work </p> 
        <p>leading to the development of on-board flight software for NASA's Apollo Moon missions.</p>
        </a>
</body>
</html>