<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="/style.css" >
</head>
<body>
    

    <a href="/about">ABOUT</a>
    <a href="/works">WORKS</a>
    <a href="/home">HOME</a>
<h1>GALERY</h1>
<img class="sage" src="/images/00b36ba0-eaa6-11e9-aafd-f98c2cafd9d3.jpg" alt="tfftuhdf">
<br>
<br>
<img class="sage" src="/images/13007h.jpg" alt="tfftuhdf">
<br>
<br>
<img class="sage" src="/images/March-Theater-Feature-Coding-to-the-Moon-Margaret-model.jpg" alt="tfftuhdf">
<br>
<br>
<img class="sage" src="/images/at-MIT-during-Apollo-11-mission.jpg" alt="tfftuhdf">
    
</body>
</html>