<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="/style.css" >
</head>
<body>
    

    <a href="/about">ABOUT</a>
    <a href="/works">WORKS</a>
    <a href="/galery">GALERY</a>
<h1>Margaret Hamilton</h1>
<img src="/images/hamilton.jpg" alt="tfftuhdf">
    <h3>Margaret Hamilton was director of the Software Engineering Division of the MIT Instrumentation Laboratory,
        <p> which developed on-board flight software for NASA's Apollo program.</h3></p>
</body>
</html>