
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" >
    <title>Document</title>
</head>
<body>

    <a href="/home">HOME</a> <a href="/about">ABOUT</a> <a href="/galery">GALERY</a>
    <h1>Margaret Hamilton </h1>

    
    <h1> SAGE Project</h1>
    <br>
    <img class="sage" src="/images/margaret-hamilton-sage.jpg" alt="tfftuhdf">
    <br>
    <p> From 1961 to 1963, Hamilton worked on the Semi-Automatic Ground Environment (SAGE) Project at the MIT Lincoln Lab,</p>
    <p> where she was one of the programmers who wrote software for the prototype AN/FSQ-7 computer (the XD-1),</p>
    <p>used by the U.S. Air Force to search for possibly unfriendly aircraft. She also wrote software</p> 
    <p>for a satellite tracking project at the Air Force Cambridge Research Laboratories.</p>
    <br>
    <h1>Draper Laboratory</h1>
    <br>
    <img class="sage" src="/images/Picture1.png" alt="tfftuhdf">
    <br>
    <p>Hamilton was initially hired as a programmer for this process but moved on into system designs. By 1965, </p>
    <p>she was in charge of all Command Module software, which was all the software for navigation and lunar landing guidance.</p>
    <p>Hamilton's team was responsible for developing in-flight software, which included algorithms designed by</p>
    <p>various senior scientists for the Apollo command module, Apollo lunar module, and the subsequent Skylab.</p>
    <br>
    <h1>Apollo program</h1>
    <br>
    <img class="sage" src="/images/MHH1.T.jpg" alt="tfftuhdf">
    <br>
    <p>In one of the critical moments of the Apollo 11 mission, the Apollo Guidance Computer, together with the on-board flight software,</p>
    <p> averted an abort of the landing on the Moon. Three minutes before the lunar lander reached the Moon's surface,</p>
    <p>several computer alarms were triggered. The on-board flight software captured these alarms with the "never supposed to happen displays"</p>
    <p>interrupting the astronauts with priority alarm displays.</p>
    <br>
    <h1>Businesses</h1>
    <br>
    <img class="sage" src="/images/Margaret_Hamilton_1995.jpg" alt="tfftuhdf">
    <br>
    <p>In 1976, Hamilton co-founded with Saydean Zeldin a company called Higher Order Software to further develop ideas about error</p>
    <p>prevention and fault tolerance emerging from their experience at MIT working on the Apollo program. They created a product called USE.</p>
    <p>IT, based on the HOS methodology they developed at MIT.</p>


    

</body>
</html>